.Tranding-Panel-Main-Wrapper{
    margin: 8px;
    padding: 2px;
    background: #F9591C;
}

.Tranding-Panel-Main-Container{
    width: auto;
    margin: 1px;
    padding: 2px;
}

.TradningTitle{
    color:white;
}